<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>StudentsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowAll</servlet-name>
        <servlet-class>ShowAllStudents</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowAll</servlet-name>
        <url-pattern>/showAll</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowStudent</servlet-name>
        <servlet-class>ShowStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShowStudent</servlet-name>
        <url-pattern>/show</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>AddStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/addStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveStudent</servlet-name>
        <servlet-class>SaveStudent</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SaveStudent</servlet-name>
        <url-pattern>/saveStudent</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>UpdateStudent</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/updateStudent</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>l29Sorting</servlet-name>
        <servlet-class>Lesson29Sorting</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>l29Sorting</servlet-name>
        <url-pattern>/l29Sorting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InitArray</servlet-name>
        <servlet-class>InitStudents</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitArray</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
</web-app>